html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

body {
    padding-top: 5em;
    color: black;
}

code {
    background-color: #eee;
    padding: 1em 2em;
}

i {
    color: black;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
    color: rgba(0, 0, 0, 0.33);
}

.fas, .fab {
    margin: 0.5em;
}
