body {
    padding-top: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
    color: rgba(0, 0, 0, 0.33);
}

.fas, .fab {
    margin: 20px;
}
